
.product-grid{
background-color: #fff;
font-family: 'Work Sans', sans-serif;
text-align: center;
transition: all 0.3s ease 0s;
border: 1px solid rgb(243, 238, 238);
}
.product-grid:hover{ box-shadow:  0 0 20px -10px rgba(237,29,36,0.3); }
.product-grid .product-image{
overflow: hidden;
position: relative;
transition: all 0.3s ease 0s;
}
.product-grid:hover .product-image{ border-radius: 0 0 30px 30px; }
.product-grid .product-image a.image{ display: block; }
.product-grid .product-image img{
width: 100%;
height: 190px;
}
.product-image .pic-1{
backface-visibility: hidden;
transition: all 0.5s ease 0s;
}
.product-grid:hover .product-image .pic-1{ opacity: 0; }
.product-image .pic-2{
width: 100%;
height: 100%;
backface-visibility: hidden;
opacity: 0;
position: absolute;
top: 0;
left: 0;
transition: all 0.5s ease 0s;
}
.product-grid:hover .product-image .pic-2{ opacity: 1; }
.product-grid .product-links{
padding: 0;
margin: 0;
list-style: none;
opacity: 0;
position: absolute;
bottom: 0;
right: 10px;
transition: all 0.3s ease 0s;
}
.product-grid:hover .product-links{ opacity: 1; }
.product-grid .product-links li{
margin: 0 0 10px 0;
transform: rotate(360deg) scale(0);
transition: all 0.3s ease 0s;
}
.product-grid:hover .product-links li{ transform: rotate(0) scale(1); }
.product-grid:hover .product-links li:nth-child(3){ transition-delay: 0.1s; }
.product-grid:hover .product-links li:nth-child(2){ transition-delay: 0.2s; }
.product-grid:hover .product-links li:nth-child(1){ transition-delay: 0.3s; }
.product-grid .product-links li a{
color: #666;
background-color: #fff;
font-size: 18px;
line-height: 42px;
width: 40px;
height: 40px;
border-radius: 50px;
display: block;
transition: all 0.3s ease 0s;
}
.product-grid .product-links li a:hover{
color: #fff;
background-color: #00ab55;
}
.product-grid .product-content{
text-align: left;
padding: 15px 10px;
}
.product-grid .rating{
padding: 0;
margin: 0 0 7px;
list-style: none;
}
.product-grid .rating li{
color: #f7bc3d;
font-size: 13px;
}
.product-grid .rating li.far{ color: #777; }
.product-grid .title{
font-size: 16px;
font-weight: 600;
text-transform: capitalize;
margin: 0 0 6px;
}
.product-grid .title a{
color: #555;
transition: all 0.3s ease 0s;
}
.product-grid .title a:hover{ color: #ed1d24; }
.product-grid .price{
color: #00ab55;
font-size: 18px;
font-weight: 700;
}
@media screen and (max-width:990px){
.product-grid{ margin: 0 0 30px; }
}
.card-title-line{
font-size: 17px;
line-height: 1.5;
border-left: 3px solid #00ab55;
margin-bottom: 16px;
padding-bottom: 0;
color: #3C368C;
font-weight: normal;
padding-left: 10px;
}
.card-checkbox-text{
color: #666;
font-size: 15px;
line-height: 20px;
padding-left: 5px;
cursor: pointer;
font-weight: 500;
list-style: none;

}
.card-checkbox-text li{
line-height: 1.8;
}
.card-checkbox-text a{
text-decoration: none;
color: #666;
font-size: 15px;
line-height: 20px;
padding-left: 5px;
cursor: pointer;
font-weight: 500;
list-style: none;
}
.filter-color1,.filter-color2,.filter-color3,.filter-color4,.filter-color5{
list-style: none;
width: 40px;
height: 25px;

}


.filter-color1{

background-color: #00AB55;
}
.filter-color2{

background-color: red;
}
.filter-color3{

background-color: orange;
}
.filter-color4{

background-color: yellow;
}
.filter-color5{

background-color: grey;
}
.filter-color6{

background-color: red;
}
.filter-color{
list-style: none;
margin-left: -50px;

}
.woocommerce-ordering
{
background-color : #FFFFFF !important;
}

.filter_para1{
font-weight: bold;
color: green;
mt
}





* {
user-select: none;
}

*:focus {
outline: none;
}



.brd {
border: 1px solid #e2eded;
border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}

#info {
position: absolute;
top: 0;
right: 0;
left: 0;
color: #2d3667;
font-size: 16px;
text-align: center;
padding: 14px;
background-color: #f3f9f9;
}

#app-cover {
position: absolute;
width: 300px;
height: 42px;
z-index: 1;

}

#select-button {
position: relative;
height: 41px;
padding: 12px 14px;
background-color: #fff;
border-radius: 4px;
cursor: pointer;
}

#optionnns-view-button {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
margin: 0;
opacity: 0;
cursor: pointer;
z-index: 3;
}

#selected-value {
font-size: 16px;
line-height: 1;
margin-right: 26px;
}

.optionnn i {
width: 16px;
height: 16px;
}

.optionnn,
.label {
color: #2d3667;
font-size: 16px;
}

#chevrons {
position: absolute;
top: 0;
right: 0;
bottom: 0;
width: 12px;
padding: 9px 14px;
}

#chevrons i {
display: block;
height: 50%;
color: #d1dede;
font-size: 12px;
text-align: right;
}

#optionnns-view-button:checked + #select-button #chevrons i {
color: #2d3667;
}

.optionnns {
position: absolute;
left: 0;
width: 250px;
}

#optionnns {
position: absolute;
top: 42px;
right: 0;
left: 0;
width: 298px;
margin: 0 auto;
background-color: #fff;
border-radius: 4px;
}

#optionnns-view-button:checked ~ #optionnns {
border: 1px solid #e2eded;
border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}

.optionnn {
position: relative;
line-height: 1;
transition: 0.3s ease all;
z-index: 2;
}

.optionnn i {
position: absolute;
left: 14px;
padding: 0;
display: none;
}

#optionnns-view-button:checked ~ #optionnns .optionnn i {
display: block;
padding: 12px 0;
}

.label {
display: none;
padding: 0;
margin-left: 27px;
}

#optionnns-view-button:checked ~ #optionnns .label {
display: block;
padding: 12px 14px;
}

.s-c {
position: absolute;
left: 0;
width: 100%;
height: 50%;
}

.s-c.top {
top: 0;
}

.s-c.bottom {
bottom: 0;
}

input[type="radio"] {
position: absolute;
right: 0;
left: 0;
width: 100%;
height: 50%;
margin: 0;
opacity: 0;
cursor: pointer;
}

.s-c:hover ~ i {
color: #fff;
opacity: 0;
}

.s-c:hover {
height: 100%;
z-index: 1;
}

.s-c.bottom:hover + i {
bottom: -25px;
animation: moveup 0.3s ease 0.1s forwards;
}

.s-c.top:hover ~ i {
top: -25px;
animation: movedown 0.3s ease 0.1s forwards;
}

@keyframes moveup {
0% {
bottom: -25px;
opacity: 0;
}
100% {
bottom: 0;
opacity: 1;
}
}

@keyframes movedown {
0% {
top: -25px;
opacity: 0;
}
100% {
top: 0;
opacity: 1;
}
}

.label {
transition: 0.3s ease all;
}

.opt-val {
position: absolute;
left: 14px;
width: 217px;
height: 21px;
opacity: 0;
background-color: #fff;
transform: scale(0);
}

.optionnn input[type="radio"]:checked ~ .opt-val {
opacity: 1;
transform: scale(1);
}

.optionnn input[type="radio"]:checked ~ i {
top: 0;
bottom: auto;
opacity: 1;
animation: unset;
}

.optionnn input[type="radio"]:checked ~ i,
.optionnn input[type="radio"]:checked ~ .label {
color: #fff;
}

.optionnn input[type="radio"]:checked ~ .label:before {
content: "";
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: -1;
}

#optionnns-view-button:not(:checked)
~ #optionnns
.optionnn
input[type="radio"]:checked
~ .opt-val {
top: -30px;
}

.optionnn:nth-child(1) input[type="radio"]:checked ~ .label:before {
background-color: #00AB55;
border-radius: 4px 4px 0 0;
}

.optionnn:nth-child(1) input[type="radio"]:checked ~ .opt-val {
top: -31px;
}

.optionnn:nth-child(2) input[type="radio"]:checked ~ .label:before {
background-color: #00AB55;
}

.optionnn:nth-child(2) input[type="radio"]:checked ~ .opt-val {
top: -71px;
}

.optionnn:nth-child(3) input[type="radio"]:checked ~ .label:before {
background-color: #00AB55;
}

.optionnn:nth-child(3) input[type="radio"]:checked ~ .opt-val {
top: -111px;
}

.optionnn:nth-child(4) input[type="radio"]:checked ~ .label:before {
background-color: #32c766;
}

.optionnn:nth-child(4) input[type="radio"]:checked ~ .opt-val {
top: -151px;
}

.optionnn:nth-child(5) input[type="radio"]:checked ~ .label:before {
background-color: #f48024;
}

.optionnn:nth-child(5) input[type="radio"]:checked ~ .opt-val {
top: -191px;
}

.optionnn:nth-child(6) input[type="radio"]:checked ~ .label:before {
background-color: #006400;
border-radius: 0 0 4px 4px;
}

.optionnn:nth-child(6) input[type="radio"]:checked ~ .opt-val {
top: -231px;
}

.optionnn .fa-codepen {
color: #00AB55;
}

.optionnn .fa-dribbble {
color: #00AB55;
}

.optionnn .fa-behance {
color: #00AB55;
}

.optionnn .fa-hackerrank {
color: #00AB55;
}

.optionnn .fa-stack-overflow {
color: #f48024;
}

.optionnn .fa-free-code-camp {
color: #006400;
}

#optionnn-bg {
position: absolute;
top: 0;
right: 0;
left: 0;
height: 40px;
transition: 0.3s ease all;
z-index: 1;
display: none;
}

#optionnns-view-button:checked ~ #optionnns #optionnn-bg {
display: block;
}

.optionnn:hover .label {
color: #fff;
}

.optionnn:nth-child(1):hover ~ #optionnn-bg {
top: 0;
background-color: #00AB55;
border-radius: 4px 4px 0 0;
}

.optionnn:nth-child(2):hover ~ #optionnn-bg {
top: 40px;
background-color: #00AB55;
}

.optionnn:nth-child(3):hover ~ #optionnn-bg {
top: 80px;
background-color: #00AB55;
}

.optionnn:nth-child(4):hover ~ #optionnn-bg {
top: 120px;
background-color: #32c766;
}

.optionnn:nth-child(5):hover ~ #optionnn-bg {
top: 160px;
background-color: #f48024;
}

.optionnn:nth-child(6):hover ~ #optionnn-bg {
top: 200px;
background-color: #006400;
border-radius: 0 0 4px 4px;
}

@media screen and (max-width: 600px) {
.first_section {

display: flex;
align-items: center;
justify-content: center;
}
.second_section {
display: flex;
align-items: center;
justify-content: center;
margin-left: 50px;
}
}


